[submodule "nftime_proto"]
	path = nftime_proto
	url = https://github.com/onceuponaprince/nftime_proto.git
[submodule "nftime_frontend"]
	path = nftime_frontend
	url = https://github.com/onceuponaprince/nftime_frontend.git
